<li>
  <section>
    <header>{{name}} <strong>{{^pending}}{{#passed}}√{{/passed}}{{^passed}}X{{/passed}}{{/pending}}{{#pending}}(Pending){{/pending}}</strong></header>
    {{^passed}}
    <ul>
      {{#results}}
      {{>_result}}
      {{/results}}
    </ul>
    {{/passed}}
  </section>
</li>
